.two-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .column-left {
    width: 30%; /* Adjust width as needed */
    padding-right: 8px;
  }
  
  .column-right {
    width: 70%; /* Adjust width as needed */
  }
  
  .column-left img {
    max-width: 100%; /* Ensures the image scales within the column */
    height: auto;
  }
  